*
!/**/
!*.*
!**/test.*
**/todo.*
!requirements.txt
!Dockerfile
!license
**/.vs/**
**/.vscode/*.*
**/c_cpp_properties.json
!**/launch.json
!**/settings.json
!**/*licenses/**
!*.md
*.db
*.exe
**/todo/**
**/test/**
__pycache__
.pytest_cache
!menus/**
bin/**
!bin/src**
!bin/tests**
log/**
