<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vaccination Information</title>
    <link rel="stylesheet" type="text/css" href="/frontend/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>
        Information on Measles Vaccination in Children Aged 12-23 Months in
        Panama
      </h1>
      <p>Below is the vaccination information for Panama:</p>
      <div id="loading-message" style="display: none">Loading data...</div>
      <table id="vaccination-table" style="display: none">
        <thead>
          <tr>
            <th>Country</th>
            <th>Country Code</th>
            <th>Indicator Name</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <script src="/frontend/table.js"></script>
        </tbody>
      </table>
    </div>
  </body>
</html>
